In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('supershops.csv')

In [3]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [8]:
x = df.drop('Profit', axis = 1)
y = df[['Profit']]
cols = x.columns

# Storing Dataset for different type Scaller method

In [5]:
x1 = x.copy()
x2 = x.copy()
x3 = x.copy()
x4 = x.copy()

# Normalization using loop

In [9]:
from sklearn.preprocessing import MinMaxScaler
m = MinMaxScaler()

In [12]:
for col in cols:
    for col in cols:
        if x1[col].dtype != 'object':
            x1[[col]] = m.fit_transform(x1[[col]])

In [13]:
x1.head()

   Marketing Spend  Administration  Transport     Area
0         0.692617        0.651744   1.000000    Dhaka
1         0.983359        0.761972   0.940893      Ctg
2         0.927985        0.379579   0.864664  Rangpur
3         0.873136        0.512998   0.812235    Dhaka
4         0.859438        0.305328   0.776136  Rangpur

# Standardization using loop

In [14]:
from sklearn.preprocessing import StandardScaler

In [15]:
ss = StandardScaler()

In [16]:
for col in cols:
    for col in cols:
        if x2[col].dtype != 'object':
            x2[[col]] = ss.fit_transform(x2[[col]])

In [17]:
x2.head()

   Marketing Spend  Administration  Transport     Area
0         0.897913        0.560753   2.165287    Dhaka
1         1.955860        1.082807   1.929843      Ctg
2         1.754364       -0.728257   1.626191  Rangpur
3         1.554784       -0.096365   1.417348    Dhaka
4         1.504937       -1.079919   1.273550  Rangpur

# Max Absolute Scaler using loop

In [18]:
from sklearn.preprocessing import MaxAbsScaler

In [19]:
mas =  MaxAbsScaler()

In [20]:
for col in cols:
    for col in cols:
        if x3[col].dtype != 'object':
            x3[[col]] = mas.fit_transform(x3[[col]])

In [21]:
x3.head()

   Marketing Spend  Administration  Transport     Area
0         0.692617        0.749527   1.000000    Dhaka
1         0.983359        0.828805   0.940893      Ctg
2         0.927985        0.553781   0.864664  Rangpur
3         0.873136        0.649738   0.812235    Dhaka
4         0.859438        0.500378   0.776136  Rangpur

# Robust Scaler using loop

In [22]:
from sklearn.preprocessing import RobustScaler

In [23]:
rs = RobustScaler()

In [24]:
for col in cols:
    for col in cols:
        if x4[col].dtype != 'object':
            x4[[col]] = rs.fit_transform(x4[[col]])

In [25]:
x4.head()

   Marketing Spend  Administration  Transport     Area
0         0.672530        0.345355   1.552016    Dhaka
1         1.452113        0.697565   1.383714      Ctg
2         1.303634       -0.524290   1.166654  Rangpur
3         1.156567       -0.097977   1.017368    Dhaka
4         1.119836       -0.761543   0.914576  Rangpur